@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Chess

<h1>Do you want to delete:</h1>
<h2>@Model.Name @Model.Moves</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ChessID" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Moves" />
    <button type="submit" class="btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn-primary">Cancel</a>
</form>