

.row {
    margin-bottom: .5rem;
}

.jumbotron {
    background-color: green;
}

.jumbotron h1 {
    color: white;
}
.btn-primary {
    color: white;
    background-color: green;
    border-color: green;
    margin: 0px 1em 0px 0px;
}