@using M9Assignment.Admin.Models

@*
* Marshall Westbrook
* CPT-231-S14
* U3-M8 Assignment
* Spring 2022
* A project that demonstrates how areas work
*@

@{
    ViewData["Title"] = "Admin Airport Index";
}
@model List<Airport>

<div class="container">
        <table class="table-striped table-dark">
            <thead>
                <tr>
                <td>ID</td>
                <td>Code</td>
                <td>Name</td>
            </tr>
            </thead>
            @foreach(Airport a in Model)
        {
            <tr>
                <td>@a.AirportID</td>
                <td>@a.Code</td>
                <td>@a.Name</td>
            </tr>
        }
        </table>
        <div class="row p-3">
            <a asp-controller="Home" asp-area="" asp-action="Index" class="btn-primary" id="AirportButton">Back</a>
        </div>
</div>