@using Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
    <div class="row mt-3 p-3">
        <h2>Navigation Help</h2>
    </div>
    <div>
        <p>Use the navigation links near the top of your screen to navigate to different parts of this website.</p>
    </div>
        
        
        </div>