@{
    ViewData["Title"] = "Home Page";
}
@model List<Airport>

<div class="text-center">
    <table class="table-striped table-dark">
        <thead>
            <tr>
            <td>Controller</td>
            <td>Link</td>
        </tr>
        </thead>
        <tr>
            <td>Airport User View</td>
            <td><a class="btn-primary" asp-controller="Home" asp-action="Airport">Index</a></td>
        </tr>
        <tr>
            <td>Airport Admin Area</td>
            <td>
                <a class="btn-primary" asp-area="Admin" asp-controller="Airport" asp-action="Index">Index</a>
            </td>
        </tr>
        <tr>
            <td>Help Area</td>
            <td>
                <a class="btn-primary" asp-area="Help" asp-controller="Help" asp-action="Index">Work In Progress Page</a>
            </td>
        </tr>
    </table>
</div>
